@import '~antd/dist/antd.css';

.App {
  /* text-align: center; */
}

.backsuite-logo {
  height: 100px; 
}

.backsuite-head {
  height: 90px; 
  width: auto;
  align-self: center;  
}
.backsuite-text {
  height: 64px; 
  width: auto;
  align-self: center;
}

.App-header {
  background-color: #F6F6F6;
  height: 100px;
  display: flex;
}

.App-footer {
  background-color: #F6F6F6;
  height: 100px;
}

.App-title {
  font-size: 1.5em;
  align-self: center;
  vertical-align: center;
}

.flight-info {
  display: flex;
}

.departure {
  border: black solid 1px;
  padding: 5px;
}

.arrival {
  border: black solid 1px;
  padding: 5px;  
}

.arrow {
  vertical-align: center;
}

.seating-options {
  display: flex;
}

.seat-option {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 5px;  
}